*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100%;
    width: 100%;
    background-image: url(antelope-canyon-lower-canyon-arizona.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  
   
}
nav{
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    padding: 10px;
    background-color: brown;
    position: fixed;
    z-index: 2;
background: rgba(122, 9, 91, 0.9);
}
button{
    position: relative;
    right:95px;
    background-color: white;
}
.navbar a{
    font-size: 30px;
    font-weight: 60px;
    color: white;
}
/* registration form */
.container{
    height: 100%;
    width: 100%;
    border: 1px solid white;
     position: absolute; 
    top: 50px; 
    text-align: center;
    color: white;
    
}
.container .container-box{
    height: 500px;
    width: 50%;
    /* border: 2px solid rgb(243, 155, 170); */
    position: relative;
    top:15%;
    left: 25%;
    background-color: rgba(190, 148, 85 );
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 50px red;
    transition: 3s;
    
}
.container-box:hover{
    
    transform: scale(1.1);
    transition-duration: 2s;
}


#date{
   height: 30px;
   width: 240px;
   position: relative;
   right: 3px;
   align-self: flex-end;
}
#Email{
    position:relative;
   left: 10px;
}
#Mobile{
    height: 30px;
    width: 240px;
    position: relative;
    right: 7px;
 }
#Password{
    position: relative;
   left: 3px;
}
#confirmPassword{
    position: relative;
    right: 16px;
        
}

.inputfield{
 margin-top: 40px;
 font-size: 20px;
 display: flex;
 justify-content: space-around;
 

}
.inputfield label{
   color: rgb(241, 156, 156);
   cursor: pointer;
   font-size: 20px;
   position: relative;
   left: 10px;
   
}
#Username,#Email,#date,#Password,#confirmPassword,#Mobile {
    font-size: 20px;
}
#submit{
    padding: 7px 40px;

    background-color: #000;
    color: #fff;
    border-radius: 55px;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
}
#submit:hover {
    background-color: gray;
}
span{
    position: relative;
    top: 20px;
    right:28%;
}
